@page
@model IndexModel
@{
    ViewData["Title"] = "Alper | Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Alper's Azure App</h1>
    
    <p>This is version #3</p>
</div>
