@page
@model IndexModel
@{
    ViewData["Title"] = "Alper | Home page";
}



<h2>
    Posts count: @Model.Posts.Count
</h2>


@foreach (var post in Model.Posts)
{
    <div>
        <strong>[@post.Id]</strong> <span>@post.Content</span>
    </div>

    <hr>
}



<form method="post">
    <input type="text" id="NewPostContent" name="NewPostContent" />

    <button type="submit">Send New Post</button>
</form>
